@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1921 !important;
  position: relative;
}

.content-page {
  padding-left: 300px !important;
  padding-top: 150px !important;
  color: #ffffff;
}
.content-page img {
  width: 300px !important;
  height: 400px !important;
  border-radius: 20px;
}
.content-page .col-6 {
  padding-left: 50px;
}
.content-page .col-6 h1 {
  font-size: 56px;
}
.content-page .col-6 .card-movie-icon {
  width: 20px;
  height: 20px;
}
.content-page .col-6 .d-flex {
  color: rgba(255, 255, 255, 0.462745098);
}
.content-page .col-6 .d-flex img {
  width: 20px !important;
  height: 20px !important;
}
.content-page .col-6 .type {
  color: rgba(255, 255, 255, 0.462745098);
}

.row {
  --bs-gutter-x: 0rem !important;
}

.list-pages {
  padding-top: 100px;
}
.list-pages .cards-list {
  position: relative;
  top: 100px;
  padding-bottom: 50px;
  padding-left: 300px;
  width: 400%;
}
.list-pages .cards-list a {
  text-decoration: none !important;
  color: #fff !important;
}
.list-pages .cards-list .h1-title {
  font-size: 56px;
  font-weight: 700;
  padding-bottom: 20px;
  color: white;
}
.list-pages .cards-list .h1-red {
  color: red;
  font-size: 26px;
  font-weight: 700;
}
.list-pages .cards-list .card-movie {
  color: white;
  padding-right: 25px;
  width: 300px !important;
}
.list-pages .cards-list .card-movie .card-movie-img {
  border-radius: 15px;
  height: 400px !important;
  width: 300px !important;
}
.list-pages .cards-list .card-movie .card-movie-icon {
  width: 22px;
  height: 22px;
  padding-right: 5px;
}
.list-pages .cards-list .card-movie .card-movie-date {
  padding: 1px 4px;
  margin-left: 25px;
  background-color: #313037;
  border-radius: 5px;
}

.navbar {
  background-color: #101115 !important;
  padding: 20px 0px;
  position: fixed !important;
  z-index: 999;
  width: 100vw;
}
.navbar .container .navbar-brand .img-1 {
  width: 160px;
  height: 52px;
}
.navbar .container form .search-container {
  position: relative;
  display: flex;
  align-items: center;
}
.navbar .container form .search-container .form-input {
  background-color: #313036 !important;
  color: #fff !important;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  padding-left: 35px; /* Simge için yer açmak */
  width: 300px;
}
.navbar .container form .search-container .form-input:hover {
  border: 3px solid #717173;
}
.navbar .container form .search-container .form-input:focus {
  border: 2px solid #fff !important;
}
.navbar .container form .search-container .search-icon {
  position: absolute;
  left: 10px; /* İkonun inputun içinde görünmesi için ayarla */
  pointer-events: none; /* İkonun tıklanabilir olmasını istemiyorsanız */
}
.navbar .container form .search-container .search-icon:focus {
  display: none !important;
}

.sidebar {
  position: fixed;
  top: 110px;
  width: 250px !important;
  height: 100vh !important;
  background-color: #101115 !important;
  overflow-y: auto;
  z-index: 1;
  padding-bottom: 150px !important;
}
.sidebar .genre {
  list-style: none;
  text-decoration: none !important;
  font-size: 25px;
  font-weight: 400;
  color: #5c5b58;
  padding-left: 70px;
  padding-top: 35px;
}
.sidebar .movies-list {
  padding-left: 70px;
  padding-top: 35px;
}
.sidebar .movies-list a {
  list-style: none;
  text-decoration: none !important;
  font-size: 25px;
  font-weight: 400;
  color: #5c5b58;
}
.sidebar .movies-list a:hover {
  color: #e6f2fa;
}
.sidebar .movies-laguage {
  padding-left: 70px;
  padding-top: 35px;
}
.sidebar .movies-laguage li {
  list-style: none;
  text-decoration: none !important;
  font-size: 25px;
  font-weight: 400;
  color: #5c5b58;
}
.sidebar .movies-laguage li:hover {
  color: #e6f2fa;
}
.sidebar .footer {
  padding-left: 70px;
}
.sidebar .footer li {
  list-style: none;
  text-decoration: none !important;
  font-size: 18px;
  font-weight: 400;
  color: #5c5b58;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  z-index: 998px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 26px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #313036;
}

.carousel {
  position: relative;
  top: 150px;
  left: 300px;
  background-color: #1a1921;
  width: 82%;
  height: 100%;
}
.carousel .carousel-inner .carousel-item {
  margin-bottom: 100px;
}
.carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 600px;
  border-radius: 50px;
}
.carousel .carousel-inner .carousel-caption {
  top: 0;
  padding-top: 100px;
}
.carousel .carousel-inner .carousel-caption .carousel-caption-text h1 {
  font-size: 64px;
  font-weight: 700;
}
.carousel .carousel-inner .carousel-caption .carousel-caption-text p {
  font-size: 18px;
}

.weekly-trending-movies {
  position: relative;
  top: 100px;
  padding-left: 300px;
}
.weekly-trending-movies a {
  text-decoration: none !important;
  color: #fff !important;
}
.weekly-trending-movies h1 {
  font-size: 26px;
  font-weight: 700;
  color: white;
}
.weekly-trending-movies .card-movie {
  color: white;
  padding-right: 25px;
}
.weekly-trending-movies .card-movie img {
  height: 300px !important;
  width: 250px !important;
  border-radius: 15px;
}
.weekly-trending-movies .card-movie .d-flex img {
  height: 22px !important;
  width: 22px !important;
  padding-right: 5px;
}
.weekly-trending-movies .card-movie .card-movie-date {
  padding: 1px 4px;
  margin-left: 10px;
  background-color: #313037;
  border-radius: 5px;
}

.top-rated-movies {
  position: relative;
  top: 100px;
  padding-left: 300px;
}
.top-rated-movies a {
  text-decoration: none !important;
  color: #fff !important;
}
.top-rated-movies h1 {
  font-size: 26px;
  font-weight: 700;
  color: white;
}
.top-rated-movies .card-movie {
  color: white;
  padding-right: 25px;
}
.top-rated-movies .card-movie img {
  height: 300px !important;
  width: 250px !important;
  border-radius: 15px;
}
.top-rated-movies .card-movie .d-flex img {
  height: 22px !important;
  width: 22px !important;
  padding-right: 5px;
}
.top-rated-movies .card-movie .card-movie-date {
  padding: 1px 4px;
  margin-left: 10px;
  background-color: #313037;
  border-radius: 5px;
}

.upcoming-movies {
  position: relative;
  top: 100px;
  padding-bottom: 50px;
  padding-left: 300px;
}
.upcoming-movies a {
  text-decoration: none !important;
  color: #fff !important;
}
.upcoming-movies h1 {
  font-size: 26px;
  font-weight: 700;
  color: white;
}
.upcoming-movies .card-movie {
  color: white;
  padding-right: 25px;
}
.upcoming-movies .card-movie img {
  height: 300px !important;
  width: 250px !important;
  border-radius: 15px;
}
.upcoming-movies .card-movie .d-flex img {
  height: 22px !important;
  width: 22px !important;
  padding-right: 5px;
}
.upcoming-movies .card-movie .card-movie-date {
  padding: 1px 4px;
  margin-left: 10px;
  background-color: #313037;
  border-radius: 5px;
}

.you-may-also-like {
  position: relative;
  top: 100px;
  padding-left: 300px;
}
.you-may-also-like a {
  text-decoration: none !important;
  color: #fff !important;
}
.you-may-also-like h1 {
  font-size: 26px;
  font-weight: 700;
  color: white;
}
.you-may-also-like .card-movie {
  color: white;
  padding-right: 25px;
}
.you-may-also-like .card-movie img {
  height: 300px !important;
  width: 250px !important;
  border-radius: 15px;
}
.you-may-also-like .card-movie .d-flex img {
  height: 22px !important;
  width: 22px !important;
  padding-right: 5px;
}
.you-may-also-like .card-movie .card-movie-date {
  padding: 1px 4px;
  margin-left: 10px;
  background-color: #313037;
  border-radius: 5px;
}/*# sourceMappingURL=style.css.map */