.content-page{
    padding-left: 300px !important;
    padding-top: 150px !important;
    color: #ffffff;
    img{
        width: 300px !important;
        height: 400px !important;
        border-radius: 20px;
    }
   .col-6{
    padding-left: 50px;
    h1{
        font-size: 56px;
    }
    .card-movie-icon{
        width: 20px;
        height: 20px;
    }
    .d-flex{
        color: #ffffff76;
        img{
            width: 20px !important;
            height: 20px !important;
        }
    }
    .type{
        color: #ffffff76; 
    }
   }
}
.row{
   --bs-gutter-x: 0rem !important;
}