
.list-pages{
    padding-top: 100px;
    overflow-y:hidden;
    overflow-x: auto;
    .cards-list{
    position: relative;
    top:100px;
    padding-bottom: 150px;
    padding-left: 300px;
    width: 400%;
     a{
        text-decoration: none !important;
        color: #fff !important;
    }
    .h1-title {
        font-size: 56px;
        font-weight: 700;
        padding-bottom: 20px;
        color: white;
    }
    .h1-red{
        color: red;
        font-size: 26px;
        font-weight: 700;
    }
    .card-movie {
        color: white;
        padding-right: 25px;  
        width: 300px !important;
        .card-movie-img {  
            border-radius: 15px;
            height: 400px !important;
            width: 300px !important;
        }
        .card-movie-icon {
            width: 22px;
            height: 22px;
            padding-right: 5px;
        }
        .card-movie-date {
            padding: 1px 4px;
            margin-left: 25px;
            background-color: #313037;
            border-radius: 5px;
        } 
    }
    }
}