.carousel{
    position: relative;
    top: 150px;
    left: 300px;
    background-color: #1a1921;
    width: 82%;
    height: 100%;
    .carousel-inner{
        .carousel-item{
            margin-bottom: 100px;
            img{
                width: 100%;
                height: 600px;
                border-radius: 50px;
            }
        }
        .carousel-caption{
            top: 0;
            padding-top: 100px;
            .carousel-caption-text{
               h1{
                font-size: 64px;
                font-weight: 700;
               }
               p{
                font-size: 18px;
               }
            }
        }
    }
}