.weekly-trending-movies {
    position: relative;
    top:100px;
    padding-left: 300px;
    a{
        text-decoration: none !important;
        color: #fff !important;
    }
    h1 {
        font-size: 26px;
        font-weight: 700;
        color: white;
    }
    .card-movie {
        color: white;
        padding-right: 25px;
        img {
            height: 300px !important;
            width: 250px !important;
            border-radius: 15px;
        }
        .d-flex{
            img{
                height: 22px !important;
                width: 22px !important;
                padding-right: 5px;
            }
        }
        .card-movie-date {
            padding: 1px 4px;
            margin-left: 10px;
            background-color: #313037;
            border-radius: 5px;
        } 
    }
}
.top-rated-movies {
    position: relative;
    top:100px;
    padding-left: 300px;
    a{
        text-decoration: none !important;
        color: #fff !important;
    }
    h1 {
        font-size: 26px;
        font-weight: 700;
        color: white;
    }
    .card-movie {
        color: white;
        padding-right: 25px;
        img {
            height: 300px !important;
            width: 250px !important;
            border-radius: 15px;
        }
        .d-flex{
            img{
                height: 22px !important;
                width: 22px !important;
                padding-right: 5px;
            }
        }
        .card-movie-date {
            padding: 1px 4px;
            margin-left: 10px;
            background-color: #313037;
            border-radius: 5px;
        } 
    }
}
.upcoming-movies {
    position: relative;
    top:100px;
    padding-bottom: 50px;
    padding-left: 300px;
    a{
        text-decoration: none !important;
        color: #fff !important;
    }
    h1 {
        font-size: 26px;
        font-weight: 700;
        color: white;
    }
    .card-movie {
        color: white;
        padding-right: 25px;
        img {
            height: 300px !important;
            width: 250px !important;
            border-radius: 15px;
        }
        .d-flex{
            img{
                height: 22px !important;
                width: 22px !important;
                padding-right: 5px;
            }
        }
        .card-movie-date {
            padding: 1px 4px;
            margin-left: 10px;
            background-color: #313037;
            border-radius: 5px;
        } 
    }
}
.you-may-also-like{
    position: relative;
    top:100px;
    padding-left: 300px;
    a{
        text-decoration: none !important;
        color: #fff !important;
    }
    h1 {
        font-size: 26px;
        font-weight: 700;
        color: white;
    }
  
    .card-movie {
        color: white;
        padding-right: 25px;
        img {
            height: 300px !important;
            width: 250px !important;
            border-radius: 15px;
        }
        .d-flex{
            img{
                height: 22px !important;
                width: 22px !important;
                padding-right: 5px;
            }
        }
        .card-movie-date {
            padding: 1px 4px;
            margin-left: 10px;
            background-color: #313037;
            border-radius: 5px;
        } 
    }
}