@media screen and (min-width: 992px){
    .carousel{
        width: 65% !important;
    }
}

@media screen and (min-width: 1200px){
    .carousel{
        width: 70% !important;
    }
}

@media screen and (min-width: 1400px){
    .carousel{
        width: 75% !important;
    }
}

@media screen and (min-width: 1600px){
  .carousel{
        width: 80% !important;
  }
}

@media screen and (min-width: 1800px){
    .carousel{
          width: 82.5% !important;
    }
  }